version: "3.7"

services:


  flask:
    image: gcr.io/footballproject-85cd9/backendflask
    build: ./flask
    container_name: flask
    restart: always
    expose:
      - 3031


  nginx:
    image: gcr.io/footballproject-85cd9/backendnginx
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - 80:80